<div fxLayout="column" fxLayout.gt-sm fxLayoutAlign="space-between center">
  <img src="assets/logo.png" alt="logo" />

  <div class="title" fxLayout="column" fxLayoutAlign="start center">
    <div class="h1-wrapper">
      <h1 data-text="No Drainer">No Drainer</h1>
    </div>
    <div class="desc">Water Purification Services</div>
  </div>

  <div class="call-us">
    <div class="action">call today for a free estimate</div>
    <div class="phone">602.791.3230</div>
  </div>
</div>

<button type="button" class="hamburger" fxHide.gt-sm (click)="showMenu()">
  <div class="hamburger-box">
    <div class="hamburger-inner"></div>
  </div>
</button>

<nav fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutAlign.gt-sm="space-around center"
     fxShow.gt-sm="true"
     [fxShow]="menuIsVisible"
     class.sm="mobile" class.xs="mobile">
  <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="hideMenu()">Home</a>
  <a [routerLink]="['about']" routerLinkActive="active" (click)="hideMenu()">About us</a>
  <a [routerLink]="['testimonials']" routerLinkActive="active" (click)="hideMenu()">Testimonials</a>
  <a [routerLink]="['testing']" routerLinkActive="active" (click)="hideMenu()">Water testing</a>
  <a [routerLink]="['contact']" routerLinkActive="active" (click)="hideMenu()">Contact us</a>
</nav>
