:host {
  margin-top: 10px;
}

$color-accent: #3EA85E;

.title {
  font-family: 'Scriptorama';
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  div.h1-wrapper {
    transform: scaleY(1.4);

    h1 {
      font-size: 3em;
      white-space: nowrap;
      margin: 0;
      background: -webkit-linear-gradient(#fff, #598df5);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;

      &:after {
        align-content: center;
        background: none;
        content: attr(data-text);
        left: 0;
        position: absolute;
        text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
        top: 0;
        z-index: -1;
      }
    }
  }

  div.desc {
    font-size: 1.7em;
    color: #92c7f9;
    text-shadow: -0.2px 0 white, 0 0.2px white, 0.2px 0 white, 0 -0.2px white;
    text-align: center;
  }
}

.call-us {
  font-size: xx-large;
  text-align: center;

  .action {
    font-size: smaller;
    color: $color-accent;
  }

  .phone {
    color: #AAD5F8;
    font-size: larger;
  }
}

nav {
  margin: 20px 0 0 0;

  a {
    color: $color-accent;
    text-transform: uppercase;
    padding: 10px 20px;
    white-space: nowrap;

    &.active {
      background-color: #236ca0;
      color: white;
    }

    &:hover:not(.active) {
      background-color: #0f5180;
    }
  }

  &.mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0d2f3e;
    margin: 0;

    a.active {
      background-color: #103f54;
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}