@use '@angular/material' as mat;
@use '../../../../css/material/theme' as theme;

$base-path: "/assets/reviews/";

md-card:not(:last-child) {
  margin-bottom: 40px;
}

md-card-header {
  line-height: 18px;
}

[md-card-avatar] {
  background-size: cover;

  &.rev-0 {
    background-image: url($base-path + "0.jpg");
  }
}

.mat-card-content {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  position: relative;
  margin: 0 20px 20px;

  p {
    margin-top: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    position: absolute;
    font-size: xxx-large;
    color: mat.get-theme-color(theme.$theme, primary, 50);
  }

  &::before {
    content: "\201C";
    top: 0;
    left: -20px;
  }

  &::after {
    content: "\201D";
    right: -20px;
    bottom: -30px;
  }
}

.text-right {
  text-align: right;
}

.color-primary {
  color: mat.get-theme-color(theme.$theme, primary, 50);
}
