<h2>Backstory</h2>

<p>
  The No Drainer mobile water filtration trailer was originally designed and
  constructed by Pure Water Industries (a division of Pool Services Technologies)
  in 2009. Based in San Diego, California - Pure Water Industries quickly became
  “one of the country’s leading authorities in Reverse Osmosis (RO) technology.”
  Drought awareness in the state of California pushed Pure Water Industries’ owners
  to come up with this efficient and environmentally-conscious system that, at of
  the end of 2016, saved over 21 million gallons of water.
</p>

<p>
  As a pool owner himself, now No Drainer Owner &amp; Operator Russ K, wanted a way
  to filter his own pool water without the hassle and water waste of draining the
  entire pool. That’s when his research led him to Pure Water Industries, Russ
  traveled to California and met with the owners. Not long after that meeting,
  he made a plan to bring the benefits of <span class="accent">PURIPOOL™</span> mobile water filtration to
  Arizona pool owners and founded No Drainer Water Purification Services.
  <br />
  No Drainer Water Purification Services is now an Arizona-based solution to
  swimming pool water purification!
</p>

<img src="assets/bubbles.webp" alt="bubbles" />

<hr />
<h2>About <span class="accent">No Drainer</span></h2>

<p>
  No Drainer Water Purification Services provides Arizona pool owners an
  environmentally-friendly and economical alternative to the hassle of pool draining.
</p>

<p>
  The No Drainer mobile water filtration system utilizes reverse osmosis (RO)
  filtration to lower, Total Dissolved Solids (TDS), Calcium Hardness (CH),
  Cyanuric Acid (CYA) and other hardness minerals, while conserving nearly 85% of
  the existing pool water. The process is done without exposing the pool walls to
  the harsh Arizona sun.
  <span class="accent">
    No Drainer Water Purification Services, true to its name, purifies water and
    returns clean, drinking-quality water back to the pool. The filtered water is
    softer than water from a typical drain and refill process and takes less than a day.
  </span>
</p>

<p>The hassle of draining and refilling the pool can be costly, time-consuming, and thought-intensive as draining needs to be done at the “right time” of year when the temperature is below 85°F. Otherwise the pool owner is running the risk of damaging the plaster leading to costly repairs. The typical drain and refill process involves equipment rental (usually a pump), chemical startup, water and sewage fees, and the list goes on. After all is said and done the pool owner is paying upward of $250 to $350 depending on the size of the pool.</p>

<p>Any time of year is the “right time” to use the No Drainer mobile water filtration system.</p>

<p>The No Drainer system is a self-contained trailer with its own power supply. All that is needed from the pool owner is a sewage drain and a small garden hose to replenish the nominal amount of water lost in the process. Everything else is on us!</p>

<p>Win the battle against algae and calcium buildup! Remain environmentally conscious by going drain free today! It’s a no-brainer!</p>

<p class="action">LEARN MORE ABOUT PURIPOOL™</p>