<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div id="tongue"></div>

    <h2>Water Testing</h2>

    <p class="primary">
      We recommend you to test your pool water at least once a week, it will
      help you keep your pool crystal clear throughout the year!
    </p>

    <p>
      <span class="accent">FC-Free Chlorine:</span>
      FC shows available level of chlorine. Maintaining proper FC level is the
      most important part in keeping your pool clear of algae and safe for
      swimming. Free chlorine is consumed by sunlight and by breaking down
      organic materials. FC level is adjusted based on your pool Cyanuric Acid
      level and could be raised with liquid chlorine or household bleach.
    </p>

    <p>
      <span class="accent">CC-Combined Chlorine:</span>
      CC is a product created in the process of sanitizing your water. With
      proper pool water maintenance your CC level should be at or close to 0.
      Raised CC level corresponds with strong chlorine smell which means there
      is something in your water that FC is in the process of sanitizing. If CC
      level is above 0.5 it is recommended to shock your pool to lower CC and
      raise FC levels.
    </p>

    <p>
      <span class="accent">PH-Acidity/Alkalinity:</span>
      PH indicates the level of acidity or basicity of your water. PH level of
      7.6-7.8 is ideal. Levels bellow 7.2 will cause your eyes to burn, whereas
      high PH levels will cause calcium scaling. To lower PH use muriatic acid,
      to elevate PH level use borax or soda ash.
    </p>

    <p>
      <span class="accent">TA-Total Alkalinity:</span>
      TA indicates the water's ability to buffer PH changes. Normal range for TA
      is 80-120 ppm. At low TA levels PH tends to be unstable, whereas high TA
      will cause PH levels to go up. Total Alkalinity could be lowered by using
      acid and raised by adding backing soda.
    </p>

    <p>
      <span class="accent">CH-Calcium Hardness:</span>
      CH shows how much calcium is in your water. A plaster pool without SWG
      (Salt Water Generator) should have CH of 250-350, if you have a SWG you
      want it at 350-450, for spas you want it lower than 200 to keep the water
      from foaming. Low calcium levels will take calcium out of your pool's
      plaster, pebble, tile, stone and concrete, causing costly repairs. You can
      increase CH levels with calcium chloride, to lower CH you have to drain
      your pool or call us and we'll lower it by filtering your pool water with
      our <span class="accent">Puripool™</span> trailer.
    </p>

    <p>
      <span class="accent">CYA-Cyanuric Acid:</span>
      CYA is often referred to as stabilizer or conditioner, it protects Free
      Chlorine from sunlight and holds some of FC in reserve. With higher CYA
      levels your chlorine demand will go up to reach the same results, so it is
      very important to know your pool water CYA levels to figure out what FC
      level to shoot for. In non-SWG pools you want to keep CYA at 30-50, if you
      do have SWG than keep it at 70-80. To increase CYA add stabilizer or
      (conditioner) which is sold in pool stores. Best way to lower CYA is to
      drain your pool or call us and we'll lower it by running your water
      through our <span class="accent">Puripool™</span> Reverse Osmosis system.
    </p>

    <p>
      <span class="accent">Phosphate:</span>
      is an inorganic chemical component that contains phosphorous. Phosphates
      are often referred to as food for algae. It's recommended to keep
      Phosphate levels bellow 100 ppb (parts per billion). In poorly maintained
      pool, even at low Phosphate levels, algae will grow faster, whereas if
      your water chemistry is within recommended parameters, you should have no
      issues controlling algae, even with elevated Phosphate levels. Usually
      pools that are surrounded by vegetation will have higher Phosphate levels.
      Pool stores sell products that will lower Phosphates, but they can be
      rather expensive and annoying to use. We recommend using chlorine and
      keeping your water chemistry in check as algae prevention.
    </p>
  </div>
</section>
