<section fxLayout fxLayoutAlign="center start">
  <div fxFlex="100%" fxFlex.gt-sm="85%" fxFlex.gt-md="70%" fxFlex.gt-lg="50%">
    <div id="tongue"></div>

    <h2>Contact us</h2>

    <div fxLayout="column" fxLayout.gt-xs="row">
      <div fxFlex="40">
        <p>Russ K.</p>
        <p>Phone: 602.791.3230</p>
      </div>

      <div fxFlex>
        <form novalidate [formGroup]="contactForm" (ngSubmit)="contact()" fxLayout="column">
          <md-input-container>
            <input mdInput formControlName="name" placeholder="Your Name">
            <md-hint ngxErrors="name" align="end">
              <span ngxError="required" when="touched">Please provide your name</span>
            </md-hint>
          </md-input-container>

          <md-input-container>
            <input mdInput formControlName="email" placeholder="Email" type="email">
            <md-hint ngxErrors="email" align="end">
              <span ngxError="required" when="touched">Please provide email address</span>
              <span ngxError="email" when="touched">Please provide valid email address</span>
            </md-hint>
          </md-input-container>
          
          <md-input-container>
            <input mdInput formControlName="subject" placeholder="Subject">
            <md-hint ngxErrors="subject" align="end">
              <span ngxError="required" when="touched">Please provide reason for contacting</span>
            </md-hint>
          </md-input-container>

          <md-input-container>
            <textarea mdInput formControlName="message" placeholder="Message" rows="3"></textarea>
            <md-hint ngxErrors="message" align="end">
              <span ngxError="required" when="touched">Please write your message</span>
            </md-hint>
          </md-input-container>

          <br />
          <div fxLayout fxLayoutAlign="start space-between">
            <span fxFlex>{{feedback}}</span>
            <button md-raised-button color="accent" type="submit" [disabled]="isLoading">{{isLoading ? 'Sending...' : 'Send'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
