<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div id="tongue"></div>

    <h2>Contact us</h2>

    <div flex flex-col sm:flex-row class="flex flex-col sm:flex-row gap-4">
      <div class="max-w-[40%]">
        <p>Russ K.</p>
        <p>Phone: <a href="tel:+16027913230">602.791.3230</a></p>
      </div>

      <div class="flex-auto">
        <form
          novalidate
          [formGroup]="contactForm"
          (ngSubmit)="contact()"
          class="flex flex-col gap-2">
          <mat-form-field>
            <mat-label>Your Name</mat-label>

            <input matInput formControlName="name" />

            <mat-error *ngxError="'required'">
              Please provide your name
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>

            <input matInput formControlName="email" type="email" />

            <mat-error *ngxError="'required'">
              Please provide email address
            </mat-error>

            <mat-error *ngxError="'email'">
              Please provide valid email address
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Subject</mat-label>

            <input matInput formControlName="subject" />

            <mat-error *ngxError="'required'">
              Please provide reason for contacting
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Message</mat-label>

            <textarea matInput formControlName="message" rows="3"></textarea>

            <mat-error *ngxError="'required'">
              Please write your message
            </mat-error>
          </mat-form-field>

          <br />
          <div class="flex items-center gap-4">
            <button
              mat-flat-button
              color="tertiary"
              type="submit"
              [disabled]="isLoading">
              {{ isLoading ? 'Sending...' : 'Send' }}
            </button>

            <span>{{ feedback }}</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
