@if (isGtSm()) {
  <div
    class="water"
    [@water]="url$ | async"
    parallax
    speed="4"
    [initialPosY]="100"></div>
}

<div class="header-wrap" [ngClass]="{ 'gt-sm': isGtSm() }">
  <nd-header></nd-header>
</div>

<div class="flex flex-col flex-fill">
  <div class="main-wrap" [ngClass]="{ 'gt-sm': isGtSm() }">
    <main>
      <router-outlet></router-outlet>
    </main>

    <div class="slogan unselectable">
      Never drain your pool again -<br />
      <span color="primary">PURIFY</span> it!
    </div>
  </div>

  <div fxFlex></div>

  <nd-footer></nd-footer>
</div>
