<div fxLayout="column" fxFlexFill>
  <div class="header-wrap">
    <div fxLayout fxLayoutAlign="center start">
      <div fxFlex="100%" fxFlex.gt-md="75%" fxFlex.gt-lg="50%">
        <nd-header></nd-header>
      </div>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout fxLayoutAlign="center start" fxFlexFill class="main-wrap">
      <main fxFlex="100%" fxFlex.gt-md="75%" fxFlex.gt-lg="50%">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <div fxLayout fxLayoutAlign="center start">
    <div fxFlex="100%" fxFlex.gt-md="75%" fxFlex.gt-lg="50%">
      <nd-footer></nd-footer>
    </div>
  </div>
</div>