<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div id="tongue"></div>

    <h2>Why choose No Drainer for your crystal clear pools?</h2>

    <p>
      Do you want to enjoy a healthy and refreshing swim with your family? Are
      you frustrated by frequent water drainage that leads to wasted water and
      time? Well, you're in luck!
    </p>

    <p>
      No Drainer takes pride in its highly experienced team, dedicated to
      providing residents of Phoenix with chemically balanced and clean pools,
      right on schedule. We purify your pool water using reverse osmosis (RO) -
      a cutting-edge technology that cleans the water without draining the pool,
      ensuring you a seamless swimming experience.
    </p>
  </div>
</section>

<section id="s-2" class="flex justify-center blue">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <h2>We lower or remove:</h2>

    <ul>
      <li>Calcium Hardness</li>
      <li>Total Dissolved Solids</li>
      <li>Cyanuric Acid</li>
      <li>Phosphates</li>
      <li>Copper</li>
      <li>Iron</li>
      <li>Borates</li>
      <li>Salt</li>
      <li>Algaesides</li>
      <li>Magnesium</li>
      <li>Bacteria and Viruses</li>
    </ul>
  </div>
</section>

<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <h2>
      Successful projects of
      <span class="primary whitespace-nowrap">No Drainer</span>
    </h2>

    <p>
      No Drainer have saved over
      <span class="gallons-saved">3,000,000</span> gallons of water so far.
    </p>

    <p>
      Here, take a look at the chemical report for one of the recent pool we
      cleaned!
    </p>

    <div class="flex justify-center mb-8">
      <table>
        <thead>
          <tr>
            <th>Water Test</th>
            <th>Before Puripool Process</th>
            <th>After Puripool Process</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>Free Chlorine (FC)</th>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <th>Combined Chloramines (CC)</th>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th>Water PH</th>
            <td>8.1</td>
            <td>6.8</td>
          </tr>
          <tr>
            <th>Total Alkalinity (TA)</th>
            <td>140</td>
            <td>50</td>
          </tr>
          <tr>
            <th>Calcium Hardness</th>
            <td>1700</td>
            <td>80</td>
          </tr>
          <tr>
            <th>Cyanuric Acid (CYA)</th>
            <td>-</td>
            <td>0</td>
          </tr>
          <tr>
            <th>Total Dissolved Solids (TDS)</th>
            <td>6000</td>
            <td>400</td>
          </tr>
          <tr>
            <th>Salinity (SWCG)</th>
            <td>4000</td>
            <td>230</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3 class="mat-headline-large">Here is what our clients are saying:</h3>

    <div class="mb-4">
      @let testimonial = testimonial$ | async;
      @if (testimonial) {
        <nd-testimonial [testimonial]="testimonial"></nd-testimonial>
      }
    </div>

    <a
      mat-flat-button
      color="tertiary"
      type="button"
      [routerLink]="['/testimonials']">
      See more testimonials
    </a>
  </div>
</section>

<section class="flex justify-center blue">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <h2>Estimate portion:</h2>

    <p>
      Are you worried about the costs associated with cleaning your pool? No
      need to worry! Just contact us to get a quote.
    </p>

    <p>
      Our team will visit and provide you with an estimated cost for cleaning
      your pool in a hassle-free manner!
    </p>

    <a
      mat-raised-button
      color="primary"
      type="button"
      [routerLink]="['/contact']">
      Call us today!
    </a>
  </div>
</section>
