@import '../../node_modules/@angular/material/_theming.scss';

$primary: mat-palette($mat-indigo, 700, 500, 900); //#303f9f
$accent: mat-palette($mat-blue, 600, 400, 800); //#1e88e5
$warn: mat-palette($mat-red);
