//@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');

@import 'mat-overrides';
@import './_vars';

/* --- logo font --- */
@font-face {
  font-family: 'Scriptorama';
  src: url('/assets/fonts/scriptorama_markdown_jf.eot'),
       url('/assets/fonts/scriptorama-markdown-jf.ttf');
  font-weight: bold;
}

/* --- body font --- */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* --- Material Icons --- */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', 'Roboto','Helvetica','Arial', sans-serif;
  color: #272727;
  font-size: 14pt;
  line-height: 21pt;
  background-color: white;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}

main #{"/deep/"} {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  .action {
    text-align: center;
    font-size: xx-large;
    color: mat-color($primary);
    margin: 0 80px 20px;
    line-height: 1.3em;

    a {
      color: mat-color($primary);
    }
  }
}

.mobile-menu {
  button.mat-menu-item.pimary {
    background-color: mat-color($primary);
    color: white;
  }
}


[val-message] {
  color: red;
}

.align-right {
  text-align: right;
}

.primary {
  color: mat-color($primary);
}

.accent {
  color: mat-color($accent);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
