<div class="flex items-center">
  <div class="flex gap-4 items-center">
    <a
      href="https://facebook.com/No-Drainer-water-purification-services-479344119081867"
      target="_blank"
      rel="noopener noreferrer">
      <img
        ngSrc="facebook-symbol.jpg"
        alt="Contact us on Facebook"
        width="60"
        height="60" />
    </a>

    <a
      href="https://www.yelp.com/biz/no-drainer-water-purification-services-scottsdale"
      target="_blank"
      rel="noopener noreferrer">
      <img
        ngSrc="yelp-symbol.jpg"
        alt="Contact us on Yelp"
        width="80"
        height="40" />
    </a>
  </div>

  <span class="flex-1"></span>

  <p>® {{ year }} No Drainer - Water Purification Services</p>
</div>
