<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div id="tongue"></div>

    <h2>Testimonials</h2>

    <div>
      <div class="super-action">{{ page.galonsSaved }}</div>
      <div class="action">Gallons Saved</div>
    </div>

    @for (t of testimonials; track $index) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ t.fullName }}</mat-card-title>
        <mat-card-subtitle>{{ t.location }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [innerHTML]="t.body" />
    </mat-card>
    }
  </div>
</section>
