<section fxLayout fxLayoutAlign="center start">
  <div fxFlex="100%" fxFlex.gt-sm="85%" fxFlex.gt-md="70%" fxFlex.gt-lg="50%">
    <div id="tongue"></div>

    <h2>Testimonials</h2>

    <div>
      <div class="super-action">{{page.galonsSaved}}</div>
      <div class="action">Gallons Saved</div>
    </div>

    <md-card *ngFor="let t of testimonials">
      <md-card-header>
        <md-card-title>{{t.fullName}}</md-card-title>
        <md-card-subtitle>{{t.location}}</md-card-subtitle>
      </md-card-header>

      <md-card-content [innerHTML]="t.body">
      </md-card-content>
    </md-card>
  </div>
</section>
