@use '@angular/material' as mat;
@use '../../css/material/theme' as theme;

$base-path: '/reviews/';

mat-card:not(:last-child) {
  margin-bottom: 40px;
}

mat-card-header {
  line-height: 18px;
}

[mat-card-avatar] {
  background-size: cover;
  
  &.rev-0 {
    background-image: url($base-path + '0.jpg');
  }
}

.mat-card-content {
  font-size: 14px;
  line-height: 20px;
}

.super-action {
  text-align: center;
  color: mat.get-theme-color(theme.$theme, primary, 50);
  font-size: -webkit-xxx-large;
  line-height: 1.2em;
}
