@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

@font-face {
  font-family: 'Scriptorama';
  src: url('assets/fonts/scriptorama_markdown_jf.eot'),
       url('assets/fonts/scriptorama-markdown-jf.ttf');
  font-weight: bold;
}

$color-accent: #F5D000;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  color: #272727;
  font-size: 14pt;
  background-color: #236ca0;
  background-image: url('/assets/water6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h2 {
  color: $color-accent;
  text-align: center;
  text-transform: uppercase;

  .accent {
    color: #dc7c00;
  }
}

p {
  .accent {
    color: $color-accent;
  }
}

blockquote {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 37pt;
  margin: 20px;
  text-align: center;
}

main #{"/deep/"} {
  img {
    max-width: 100%;
    max-height: 100%;
  }

  p.action {
    text-align: center;
    font-size: xx-large;
    color: #87C59A;
    margin: 0 80px 20px;

    a {
      color: #87C59A;
    }
  }
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;

    .hamburger-box {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 24px;

      .hamburger-inner {
        position: absolute;
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background-color: #fff;

        &:before {
          position: absolute;
          width: 40px;
          height: 4px;
          border-radius: 4px;
          background-color: #fff;

          display: block;
          content: "";
          top: 10px;
        }

        &:after {
          position: absolute;
          width: 40px;
          height: 4px;
          border-radius: 4px;
          background-color: #fff;

          top: 20px;
          display: block;
          content: "";
        }
      }
    }
}

[val-message] {
  color: red;
}

md-card {
  background-color: white;
  color: #272727;
}