<section fxLayout fxLayoutAlign="center start">
  <div fxFlex="100%" fxFlex.gt-sm="85%" fxFlex.gt-md="70%" fxFlex.gt-lg="50%">
    <div id="tongue"></div>

    <h2>Our mission</h2>

    <p>
      The concept of mobile water purification has been around for some time now.
      However, utilizing Reverse Osmosis (RO) filtration to purify swimming pool water
      is relatively new. We at No Drainer Water Purification Services firmly believe
      that the need for this cutting-edge RO mobile technology and service has never
      been greater for Arizona pool owners.
    </p>

    <p>
      We at No Drainer are dedicated to Arizona pool owners and their families.
      We aim to provide the best service as we understand the hassles of draining
      swimming pools and the need to conserve water in this beautiful Sonoran Desert
      we call home. It is No Drainer’s goal to create a more enjoyable swimming
      experience for Arizona pool owners and their families by providing better,
      softer, and healthier water without the waste.
    </p>
  </div>
</section>

<section id="s-2" fxLayout fxLayoutAlign="center start">
  <div fxFlex="100%" fxFlex.gt-sm="85%" fxFlex.gt-md="70%" fxFlex.gt-lg="50%">
    <h2>Fast, Efficient &amp; Safe</h2>

    <p>
      The No Drainer filtration trailer itself
      is equipped with an independent generator freeing the pool owner from potentially
      dangerous electrical cords near the pool. The trailer is also insulated to be as
      quiet as possible. The purification process takes less than 24 hours for most residential pools
      and, most importantly, the purification process can be done any time of the
      year unlike draining the pool.
    </p>
  </div>
</section>

<section fxLayout fxLayoutAlign="center start">
  <div fxFlex="100%" fxFlex.gt-sm="85%" fxFlex.gt-md="70%" fxFlex.gt-lg="50%">
    <div fxLayout="column" fxLayout.gt-xs="row">
      <div fxFlex>
        <h2>We lower or remove:</h2>

        <ul>
          <li>Calcium Hardness</li>
          <li>Total Dissolved Solids</li>
          <li>Cyanuric Acid</li>
          <li>Phosphates</li>
          <li>Copper</li>
          <li>Iron</li>
          <li>Borates</li>
          <li>Salt</li>
          <li>Algaesides</li>
          <li>Magnesium</li>
          <li>Bacteria and Viruses</li>
        </ul>
      </div>

      <div fxFlex id="s-3">
        <h2>NO DRAINER Benefits</h2>

        <ul>
          <li>Conserves water</li>
          <li>Less chemical demand</li>
          <li>Prolongs pool equipment life</li>
          <li>No down time - pool can remain open during treatment</li>
          <li>Can be done any time of the year</li>
          <li>Plaster is not exposed or compromised</li>
          <li>Provides soft water swimming experience</li>
        </ul>
      </div>
    </div>

    <br /><br />
    <div fxLayout fxLayoutAlign="center center">
      <button md-raised-button color="primary" type="button" class="call-us" [routerLink]="['contact']">
        Call us today for an environmentally-friendly alternative,<br />
        it's a no-brainer!
      </button>
    </div>
  </div>
</section>
