<swiper [config]="config" class="responsive">
    <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let img of images">
      <img [attr.data-src]="img" class="swiper-lazy">
      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>

<blockquote>
  "When the well's dry, we know the worth of water" Benjamin Franklin
</blockquote>

<hr />
<h2>Our mission</h2>

<p>
  The concept of mobile water purification has been around for some time now.
  However, utilizing Reverse Osmosis (RO) filtration to purify swimming pool water
  is relatively new. We at No-Drainer Water Purification Services firmly believe
  that the need for this cutting-edge RO mobile technology and service has never
  been greater for Arizona pool owners. The No-Drainer filtration trailer itself
  is equipped with an independent generator freeing the pool owner from potentially
  dangerous electrical cords near the pool. The trailer is also insulated to be as
  quiet as possible.
  <span class="accent">
    The purification process takes less than 24 hours for most residential pools
    and, most importantly, the purification process can be done any time of the
    year unlike draining the pool.
  </span>
</p>

<p>
  We at No-Drainer are dedicated to Arizona pool owners and their families.
  We aim to provide the best service as we understand the hassles of draining
  swimming pools and the need to conserve water in this beautiful Sonoran Desert
  we call home. It is No-Drainer’s goal to create a more enjoyable swimming
  experience for Arizona pool owners and their families by providing better,
  softer, and healthier water without the waste.
</p>

<hr />
<h2>We lower or remove:</h2>

<ul>
  <li>Calcium Hardness</li>
  <li>Total Dissolved Solids</li>
  <li>Cyanuric Acid</li>
  <li>Phosphates</li>
  <li>Copper</li>
  <li>Iron</li>
  <li>Borates</li>
  <li>Salt</li>
  <li>Algaesides</li>
  <li>Magnesium</li>
  <li>Bacteria and Viruses</li>
</ul>

<hr />
<h2>Benefis of using <span class="accent">NO DRAINER</span> services:</h2>

<ul>
  <li>Water conservation-saving a precious and limited resource</li>
  <li>Less chemical demand and greater equipment reliability</li>
  <li>No down time-pool can remain open during treatment</li>
  <li>Can be done any time of the year</li>
  <li>Plaster is not exposed or compromised</li>
  <li>Soft water swimming experience</li>
</ul>

<hr />
<h2>Never drain your pool again.... purify it!</h2>

<p class="action">Call us today for an environmentally-friendly alternative, it's a no-brainer!</p>