<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div id="tongue"></div>

    <h2>Our mission</h2>

    <p>
      The concept of mobile <b>water purification services in Arizona</b> has
      been around for some time now. However, using Reverse Osmosis (RO)
      filtration to purify swimming pool water is relatively new. No Drainer
      firmly believes that the need for this cutting-edge RO mobile technology
      and service has never been greater for pool owners.
    </p>

    <p>
      At No Drainer, we specialize in <b>water purification</b> and
      <b>pool cleaning services in Arizona</b>, dedicated to helping pool owners
      and their families. We aim to provide the best service because we
      understand the hassles of draining swimming pools and the need to conserve
      water in this beautiful Sonoran Desert we call home. It is No Drainer's
      goal to create a more enjoyable swimming experience for Arizona pool
      owners and their families by providing better, softer, and healthier water
      without wasting through our exceptional
      <b>swimming pool cleaning service in Arizona</b>.
    </p>
  </div>
</section>

<section id="s-2" class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <h2>Fast, Efficient &amp; Safe</h2>

    <p>
      The No Drainer filtration trailer is equipped with an independent
      generator, freeing pool owners from potentially dangerous electrical cords
      near the pool. The trailer is also insulated to minimize noise. With our
      <b>pool cleaning services in Arizona</b> the purification process
      typically takes less than 24 hours for most residential pools. Most
      importantly, this purification process can be carried out at any time of
      the year, unlike the traditional method of draining the pool.
    </p>
  </div>
</section>

<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <h2>Our Services:</h2>
    <ol>
      <li>
        <h3 class="mat-title-large">Mobile Water Purification</h3>
        <p>
          Experience advanced water purification with our mobile units,
          delivering cleaner and healthier pool water without the need for
          draining.
        </p>
      </li>

      <li>
        <h3 class="mat-title-large">Reverse Osmosis Filtration</h3>
        <p>
          Utilizing state-of-the-art Reverse Osmosis technology to remove
          impurities and ensure high-quality, crystal-clear pool water.
        </p>
      </li>

      <li>
        <h3 class="mat-title-large">Summer Pool Care</h3>
        <p>
          Our innovative Reverse Osmosis filtration service purifies your
          swimming pool water without the need for draining, even in the
          scorching Arizona summer. Enjoy a refreshing, crystal-clear pool all
          season long without the risk of heat-related issues!
        </p>
      </li>

      <li>
        <h3 class="mat-title-large">On-Demand Pool Cleaning</h3>
        <p>
          Get professional pool cleaning services at your convenience, ensuring
          that your pool stays pristine and ready for enjoyment anytime.
        </p>
      </li>

      <li>
        <h3 class="mat-title-large">Water Conservation Solutions</h3>
        <p>
          Protect the environment and conserve water with our innovative
          no-drain purification methods, reducing waste while enhancing your
          pool experience.
        </p>
      </li>

      <li>
        <h3 class="mat-title-large">Emergency Purification Services</h3>
        <p>
          Access rapid-response water purification for unexpected issues,
          ensuring your pool remains in top condition even in urgent situations.
        </p>
      </li>
    </ol>
  </div>
</section>

<section class="flex justify-center">
  <div class="flex-1 sm:max-w-[85%] md:max-w-[70%] lg:max-w-[50%]">
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="!p-4 sm:flex-1">
        <h3 class="mat-headline-large">We lower or remove:</h3>

        <ul>
          <li>Calcium Hardness</li>
          <li>Total Dissolved Solids</li>
          <li>Cyanuric Acid</li>
          <li>Phosphates</li>
          <li>Copper</li>
          <li>Iron</li>
          <li>Borates</li>
          <li>Salt</li>
          <li>Algaesides</li>
          <li>Magnesium</li>
          <li>Bacteria and Viruses</li>
        </ul>
      </div>

      <div id="s-3" class="!p-4 sm:flex-1">
        <h3 class="mat-headline-large">NO DRAINER Benefits</h3>

        <ul>
          <li>Conserves water</li>
          <li>Less chemical demand</li>
          <li>Prolongs pool equipment life</li>
          <li>No down time - pool can remain open during treatment</li>
          <li>Can be done any time of the year</li>
          <li>Plaster is not exposed or compromised</li>
          <li>Provides soft water swimming experience</li>
        </ul>
      </div>
    </div>

    <br /><br />
    <div class="flex justify-center">
      <a
        mat-flat-button
        color="tertiary"
        type="button"
        class="call-us"
        [routerLink]="['contact']">
        Call us today for an environmentally-friendly alternative,<br />
        it's a no-brainer!
      </a>
    </div>
  </div>
</section>
